#main {

}

#navigation-bar {
  border-bottom: 1px solid #ddd;
  padding-top: 14px;
}

#navigation-buttons-wrapper {
  padding-right: 0px;
}

#navigation-buttons a {
  margin-right: 12px;
}

#navigation-buttons a:last-child {
  margin-right: 0px;
}

#address-input .input-group {
}

#address-input {
}

#go-button {
}

#settings-button-wrapper {
  padding-left: 0px;
}