#main {

}

/* top bar */
#top-bar {
  border-bottom: 1px solid #ddd;
  padding-top: 14px;
}

#top-bar-left {
  padding-right: 0px;
}

#top-bar-right {
  padding-left: 0px;
}

#top-bar-left a {
  margin-right: 12px;
}

#top-bar-left a:last-child {
  margin-right: 0px;
}

#top-bar-right a {
  margin-right: 12px;
}

#top-bar-right a:last-child {
  margin-right: 0px;
}

#address-input .input-group {
}

#address-input {
}

#go-button {
}
